#main-container {
  display: flex;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

#instructions,
#form {
  flex: 1.25;
  padding: 20px;
  overflow-y: auto;
}

#instructions {
  background-color: #f0f0f0;
}

#form {
  background-color: #f9f9f9;
}

#gform {
  width: 100%;
  height: 90%;
  border: none;
}

#chat-app {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#chatbot-icon {
  position: fixed;
  bottom: 30px;
  right: 390px;
  z-index: 1000;
  cursor: pointer;
}

#chatbot-icon img {
  width: 60px;
}

#chatbot-popup {
  display: none;
  position: absolute;
  bottom: 0;
  right: 390px;
  width: 390px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1001;
  flex-direction: column;
}

#chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #2c2d35;
}

#logo-icon img {
  width: 35px;
  height: 40px;
}

#chat-banner {
  background-color: #000;
  padding: 20px;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chat-banner span {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

#control-buttons {
  display: flex;
  align-items: center;
}

#control-buttons span {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

#control-buttons span:hover {
  color: #808080;
}

#chat-date {
  text-align: center;
  font-size: 12px;
  color: gray;
}

#chat-display {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: block;
  text-align: right;
}

.user,
.bot {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.user {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  margin-left: auto;
}

.bot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  text-align: left;
  margin-left: -10px;
  margin-top: -10px;
}

.bot img {
  width: 27px;
  height: 30px;
  border-radius: 50%;
  margin-left: -5px;
  margin-right: 5px;
}

.bot .message-container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
  border-top-left-radius: 0;
  margin-right: auto;
}

.timestamp {
  font-size: 9px;
  color: gray;
  position: absolute;
  bottom: -12px;
  right: 5px;
}

#user-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

#user-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #2c2d35;
  outline: none;
  width: calc(100% - 40px);
  box-sizing: border-box;
  margin: 0 0 10px 10px;
}

#send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 10px;
  cursor: pointer;
}

#send-button:hover {
  background-color: #0056b3;
}

#privacy-policy {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 15px;
}

#privacy-policy a {
  color: #000;
}

#triggre-content {
  width: 48%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 999;
}

#triggre-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.task-container {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-completed {
  opacity: 0.6;
  pointer-events: none;
}
